modules = ["bun-1.2"]
run = "bun run start"

[nix]
channel = "unstable"

[deployment]
run = ["sh", "-c", "bun run build && bun run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000
